<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>910606497537-j8jdumoql3vjtlvigq97cuiiqc9g3ltl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910606497537-j8jdumoql3vjtlvigq97cuiiqc9g3ltl</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTv7ud5CwExtIkxHoDKw4gbK0dd4S0zk</string>
	<key>GCM_SENDER_ID</key>
	<string>910606497537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Gianni.queComemosHoy</string>
	<key>PROJECT_ID</key>
	<string>quecomemoshoy-41ae5</string>
	<key>STORAGE_BUCKET</key>
	<string>quecomemoshoy-41ae5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910606497537:ios:2ec9d4b2bbe7b383</string>
	<key>DATABASE_URL</key>
	<string>https://quecomemoshoy-41ae5.firebaseio.com</string>
</dict>
</plist>